node_modules
assets
.git
.devcontainer
.github
pkg/**/node_modules
app/**/node_modules
pkg/**/dist
app/**/dist
pkg/**/.turbo
app/**/.turbo
.idea
dist
.cursorrules
.vscode
dist
.DS_Store
npm_debug.log

